@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.registration-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    flex: 1;
    max-width: 600px;
    border-radius: 10px;
    background-color: #EFF0F1;
    border: 1px solid #3e0cf5;
    margin-top: auto;
    margin-bottom: auto;
}

.form-header {
    padding: 15px 0;
    border-bottom: 1px solid #cccccc;
}

.form-header h1 {
    font-size: 28px;
    text-align: center;
    color: #666;
}

.form-body {
    background: white;
    padding: 5px 10px;
}

.row {
    display: flex;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
}

.radio-group,
.checkbox-group {
    display: flex;
}

.radio-group div,
.checkbox-group div {
    flex: 1;
}

.radio-group label,
.checkbox-group label {
    color: #666;
    cursor: pointer;
}

.range-group {
    display: flex;
}

.range-group input {
    flex: 1;
}

a {
    color: #fff;
    font-weight: 600;
}

.range-group label {
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .row {
        flex-direction: column;
    }
    .btn {
        flex: 1;
    }
}

.form-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: black;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
}

.btn:hover {
    color: rgb(7, 151, 247);
    background-color: gray;
    border: none;
}

.label,
label {
    color: black;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 4px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="number"],
select,
textarea {
    width: 100%;
    font-size: 18px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}

textarea {
    resize: none;
    height: 100px;
}